.alignCenter {
  text-align: center;
}

.input {
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  min-width: 300px;
}

.button {
  padding: 0.5rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.errorText {
  color: red;
  font-size: 14px;
}
