.card {
  border-radius: var(--border-radius);
  padding: 1rem;
  display: flex;
  width: 100%;
}

.cardImage {
  margin: 0;
}

.image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.title {
  font-size: 14px;
  margin: 0 0 1rem 0;
  cursor: pointer;
}

.cardContent {
  margin-left: 1rem;
}

.tag {
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  margin: 0 0.5rem 0.5rem 0;
  display: inline-block;
  font-size: 12px;
  border-radius: 2px;
  cursor: pointer;
  user-select: none;
}
