.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.paginationItem {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 4px;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
  font-size: 12px;
}

.prev,
.next {
  background: #fff;
  border: none;
  padding: 0.5rem;
  margin: 0 0.5rem;
  cursor: pointer;
}

.paginationItem.active {
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.3);
}
